* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  background-color: #f0f2ff;
  margin: 0;
  width: 100%;
  height: 100%;
  
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}


.contents {
  position: relative;
  width: 100%;
  height: 100%;
}



@media screen and (min-width:859px) {

  .menu-1 {
    display: none;
  }
  
  .header {
    height: 60px;
    width: 100%;
    padding: 0px 15px;
    background-color:#f0f2ff;
    position: fixed; /*常に画面の上に要素を固定*/
    top: 0;
    z-index: 200;
    display: flex; /*直下の子要素を横並びにする*/
  }
  
  nav {
    margin: 0 0 0 auto;
  }
  
  ul {
    padding: 0;
    margin: 0;
  }
  
  .headlist {
    display: flex; /*リストを横並びにする*/
    list-style: none; /*listの中点（・）を消す*/
    padding: 0;
    margin: 0;
  }
  
  .KSD {
    position: relative;
    color: #000000; /*黒文字にする*/
    text-decoration: none; /*リンクの下線を削除*/
    display: block; /*幅と高さを持ったブロック要素*/
    font-size: 16px;
    font-weight: bold;

  }
  
  .logo {
    position: absolute;
    color: #000000; /*黒文字にする*/
    text-decoration: none; /*リンクの下線を削除*/
    display: block; /*幅と高さを持ったブロック要素*/
    top:20px;
  
  }
  
  .head {
    color: #000000; /*黒文字にする*/
    text-decoration: none; /*リンクの下線を削除*/
    display: block; /*幅と高さを持ったブロック要素*/
    line-height: 60px;
    padding: 0 20px; /*各リスト項目の余白左右20px*/
    position: relative; /*アンダーバーの位置を決めるための基準*/
  }
  
  .headli  ::after {
    position: absolute;
    bottom: 20px; /*アンダーバーが位置する、各リストの下*/
    left: 0; /*アンダーバーを各リストの左端に指定*/
    content:  ''; 
    width: 100%;
    height: 2px;
    background: hsla(0, 21%, 56%, 0.336);
    transform: scale(0,1);
    transform-origin: center top;
    transition: transform 0.75s;
  }
  
  .headli  :hover::after {
    transform: scale(1, 1);
  }
  }
  
  @media screen and (max-width:860px) {
    
    .headlist {
      display: none;
    }
  
    .logo {
      position: absolute;
      color: #000000; /*黒文字にする*/
      text-decoration: none; /*リンクの下線を削除*/
      display: block; /*幅と高さを持ったブロック要素*/
      top:20px;
    }
  
    .KSD {
      position: relative;
      color: #000000; /*黒文字にする*/
      text-decoration: none; /*リンクの下線を削除*/
      display: block; /*幅と高さを持ったブロック要素*/
      font-weight: bold;

    }
    
  
    .header {
      height: 60px;
      width: 100%;
      padding: 0px 15px;
      background-color:#f0f2ff;
      position: fixed; /*常に画面の上に要素を固定*/
      top: 0;
      z-index: 3;
    }
    
  
    .menu-1 {
      margin: 0;
      position: fixed;
      text-align: right;
      width: 20%;
      text-align: right;
      left: 80%;
      top: 23px;
      z-index: 100;
  }
  
  .menu-1 a {
      display: block;
  /*  text-decoration: none;*/
      color: #000;
      font-size: 8px;
      text-align: center;
      position: relative;
      margin: 20px 0;
  }
  
  label {
      display: block;
      line-height: 1;
      color :#000000;
      background : transparent;
      cursor :pointer;
      position: relative;
      z-index: 100;
      width:100%;
      text-align: center;
      z-index: 100;
  }
  
  input {
      display: none;
  }
  
  .menu-1 ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color:#f0f2ff;
}
  
  
  .menu-1 li {
      height: 0;
      overflow: hidden;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      
  }
  
  #menu_bar01:checked ~ #links01 li {
      height: 54px;
      opacity: 1;
  }
  
  
  .links01 {
    z-index: 100;
  }
  
  .menu_bar01 {
    z-index: 100;
  }
  
  .checkbox {
    z-index: 100;
  }
  
  }



  .image {
    position: absolute;
    opacity: 0;
    animation: change-img-anim 28s infinite;
    width:100%;
    height:auto;
    overflow: hidden;
    border-radius: 30px;
  }
  .image:nth-of-type(1) {
    animation: change-img-anim-first 28s infinite;
    animation-delay: 0s;
  }
  .image:nth-of-type(2) {
    animation-delay: 7s;
  }
  .image:nth-of-type(3) {
    animation-delay: 14s;
  }
  .image:nth-of-type(4) {
    animation-delay: 21s;
  }
  
  @keyframes change-img-anim-first {
    0%{ opacity: 0;}
    30%{ opacity: 1;}
    36%{ opacity: 1;}
    45%{ opacity: 0;}
    100%{ opacity: 0;}
  }
  @keyframes change-img-anim {
    0%{ opacity: 0;}
    30%{ opacity: 1;}
    36%{ opacity: 0;}
    45%{ opacity: 0;}
    100%{ opacity: 0;}
  }
  
@media screen and (min-width:860px) {
.main {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 10%;
  top: 75px;
}
}

@media screen and (max-width:860px) {
  .main {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 5%;
    top: 75px;
  }
  }

.recruit-infor {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.title {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

@keyframes infinity-scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/*
IE11対策
----------------------------*/
_:-ms-lang(x)::-ms-backdrop,
.jigyo {
  display: -ms-grid;
  overflow: hidden;
  position:relative;

}
/*----------------------------*/

.jigyo_wrap {
  display: flex;
  overflow: hidden;
  position:relative;
  border-radius: 30px;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
}

.jigyo_list {
  position:relative;
  display: flex;
  list-style: none;
}

.jigyo_list--left{
animation :infinity-scroll-left 10s infinite linear 0.5s both;
position: relative;
}

@media screen and (min-width:860px) {
.jigyo_item {
  width: calc(100vw / 6);
}
}

@media screen and (max-width:860px) {
  .jigyo_item {
    width: calc(200vw / 6);
  }
  }

.jigyo_item > img{
   width: 100%;
}

@media screen and (min-width:860px) {
.jigyo_wrap:hover .jigyo_list--left{
  animation-play-state: paused;
}
}

@media screen and (max-width:860px) {
  .jigyo_wrap:hover .jigyo_list--left{
    animation-play-state: paused;
  }
  }

.jigyofot {
  position: relative;
  width:100%;
  height:100%;
}


.hr1{
  position:relative;
  margin-top: -20px;
  height: 3px;
	border-width: 0;
	background-color: #f3ecec;
	background-image: -webkit-linear-gradient(right,
	#ddd6d6 5px,#855454 5px);
	background-image: linear-gradient(-90deg,
	#ddd6d6 5px,#855454 5px);
	background-size: 10px 10px;
  padding: 0 10%;
}

.hr2 {
  border-bottom: #000000;
  border-width: 2px;

}

@media screen and (min-width:860px) {
h6 {
  position: relative;
  font-size: 1vw;
  font-weight: lighter;
  margin: 0;
  padding: 10px 0;
  width: 100%;
  height: 100%;
}
}

@media screen and (max-width:860px) {
  h6 {
    position: relative;
    font-size: 0.6rem;
    font-weight: lighter;
    margin: 0;
    padding: 10px 0;
    width: 100%;
    height: 100%;
  }
  }

.mynavi {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: right;
  padding:10px 0;
}

.content-1 {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0;
}

.content-2 {
  position: relative;
  width: 100%;
  height: 100%;
}

.mynavifot {
  position: relative;
  height: 100%;
  text-align: right;
  margin: 5px;

}

.h7 {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.contact {
  position: relative;
  width: 100%;
  height: 100%;
  border : solid 3px #6a4646 ;
  padding: 10px;
  font-size: 1vw;
}

hr {
  margin: 0;
  padding: 0;
}

/** チェックOFFなら非表示 */
.message{ 
  display: none;
}
/** チェックONなら表示 */
input:checked ~ .message{
  display: block;
}
 
/** チェックボックス横にラベル表示 */
[type="checkbox"].toggle{
  position: relative;
}
[type="checkbox"].toggle:after{
  content: "同意する";
  position: absolute;
  width: 100px; height: 20px;
  padding-left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.bold {
  font-weight: bold;
}

.treatment-title {
  width: 100%;
  height: 100%;
  text-align: center;
}

.treatment-list {
  width: 100%;
  height: 100%;
  margin: 0;
}

.scholl {
  width: 100%;
  height: 100%;
  text-align: center;
}

.treatment-contents {
  width: 70%;
  height: 100%;
  text-align: center;
  border-bottom: solid 2px rgb(194, 194, 208);
  margin: 0 15%;
}
  
.money {
  width: 100%;
  height: 100%;
  text-align: center;
}

.h8 {
  width:100%;
  height: 100%;
  text-align: bold;
  font-size: 1vw;
  margin: 0;
  padding: 0;
}

@media screen and (min-width:860px) {
.ocation {
  height: 100%;
  padding: 10px 0;
  font-weight: bold;
  font-size: 2vw;
}
}

@media screen and (max-width:860px) {
  .ocation {
    height: 100%;
    padding: 10px 0;
    font-weight: bold;
    font-size: 1rem;
  }
  }
  

.treatment-contents {
  display: flex;
}

@media screen and (min-width:860px) {
.footber {
  width: 100%;
  height: 150px;
  background: linear-gradient(hsl(160, 4%, 17%), #314c6b);
  background: -moz-linear-gradient(hsl(160, 4%, 17%), #314c6b);
  background: -webkit-linear-gradient(hsl(160, 4%, 17%), #314c6b);
  position:relative;
  z-index: 1;
  list-style: none; /*listの中点（・）を消す*/
  top: 25vw;
  color: white;
}
}

@media screen and (max-width:860px) {
  .footber {
    width: 100%;
    background: linear-gradient(hsl(160, 4%, 17%), #314c6b);
    background: -moz-linear-gradient(hsl(160, 4%, 17%), #314c6b);
    background: -webkit-linear-gradient(hsl(160, 4%, 17%), #314c6b);
    position:relative;
    z-index: 1;
    list-style: none; /*listの中点（・）を消す*/
    top: 30vw;
    color: white;
  }
  }
  

  @media screen and (min-width:860px) {
    .footer {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      padding: 0 10%;
    }
    }
    
    @media screen and (max-width:860px) {
      .footer {
        position: relative;
        width: 100%;
        height: 100%;
      }  
    }
  
.foot {
  position: relative;
  color: #000000; /*黒文字にする*/
  text-decoration: none; /*リンクの下線を削除*/
  font-weight: bold;
  width:auto;
  height: auto;
  padding: 0 10%;
  color: white;

}

.footli {
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.foot-gaiyo {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 10px 0 0 0;
}

h4 {
  position: relative;
  font-size: 10px;
  display: block;
  margin: 0;
  font-weight: lighter;
}

.foot-jigyo {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 10px 0 0 0;
}

.foot-active {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 10px 0 0 0;
}

.foot-recruit {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 10px 0 30px 0;
}

.foot-contact {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 10px 0 0 0;
}

.page-bottom {
  position:absolute;
  width: 100%;
  background-color: #000;
  text-align: center;
  bottom: 0;
  font-size: 0.1rem;

}

.copy-right {
  margin: 0;
  padding: 0;
}