/*---------- FONTS ----------*/
* {font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN', 'ƒqƒ‰ƒMƒmŠpƒS ProN W3', Meiryo, ƒƒCƒŠƒI, sans-serif;}
/*---------- BOOTSTRAP ----------*/
.card-header-blk {color:#fff;background-color:rgba(0,0,0,.5);}
.card-header-blue {color:#fff;background-color:rgba(0,0,100,.5);}
.card-back-img {background-size:cover;background-repeat:no-repeat;}

@media print{
  .navbar{display:none;}
}
/*---------- ORGINAL ----------*/
#corp-header{margin-top:4rem;}
#corp-header p{font-family: 'Bitter', 'Lucida Grande','Hiragino Kaku Gothic ProN', 'ƒqƒ‰ƒMƒmŠpƒS ProN W3', Meiryo, ƒƒCƒŠƒI, sans-serif;}

.logo {background:url("ksdlogow.png") no-repeat left center;background-size:contain;height:16px;width:57px;margin-top:0.5rem;}

.navbar-light .navbar-nav .nav-link{color:rgba(0,0,0,1);}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .active > .nav-link:focus, .navbar-light .navbar-nav .active > .nav-link:hover, .navbar-light .navbar-nav .active.nav-link, .navbar-light .navbar-nav .active.nav-link:focus, .navbar-light .navbar-nav .active.nav-link:hover, .navbar-light .navbar-nav .open.nav-link, .navbar-light .navbar-nav .open.nav-link:focus, .navbar-light .navbar-nav .open.nav-link:hover, .navbar-light .navbar-nav .open > .nav-link, .navbar-light .navbar-nav .open > .nav-link:focus, .navbar-light .navbar-nav .open > .nav-link:hover {color:#0275d8;}

#jsmsg {padding:5px 15px;border:3px solid #a00;color:#fff;background-color:#d00;font-size:small;}

#navbar-header .nav-link{color:#fff;}
#navbar-header .active .nav-link{color:rgba(255,255,56,1);}

xxnav{
background: #000035; /* Old browsers */
background: -moz-linear-gradient(left,  #000035 0%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #000035 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #000035 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000035', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}
nav{
background: #173c7c; /* Old browsers */
background: -moz-linear-gradient(left,  #173c7c 0%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #173c7c 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #173c7c 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#173c7c', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.breadcrumb{font-size:small;}

.footer{padding-top:1rem;color:#fff;background-image:url('../_img/footerimg.jpg');}
.footer-corporatename{}
.footer-corporateaddr{font-size:small;}
.footer-link{color:#fff;}
.footer-link:link{color:#fff;}
.footer-link:visited{color:#fff;}
.footer-link:hover{color:#ff0;}
.footer-link:active{color:#fff;}

.btn{padding:2px;}
.btn-opacity:hover {opacity: 0.5;}
#move-page-top{font-size:small;}

.col-padding-l-reset{padding-left:0px;}
.col-padding-15{padding-left:30px;padding-right:30px;}
.col-padding-20{padding-left:20px;padding-right:20px;}
.indent1{padding-left:1rem;text-indent: -1em;}


#page-bottom{color:#fff;background-color:#000;font-size:small;}

a {text-decoration:none;}
a:link{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
a:active{text-decoration:none;}

th{white-space: nowrap;}

/*---------- XXS ----------*/
@media (max-width: 450px) {
*{font-size:0.7rem;}
h4{font-size:1.2rem;}
h5{font-size:1rem;}
h6{font-size:0.9rem;}
.jumptop{font-size:0.7rem;}
.jumpbtn{font-size:0.6rem;}

.card-title{font-size:0.9rem;}
}
/*---------- XS ----------*/
.col-padding-xs-30{padding-left:0px;padding-right:0px;}
/*---------- SM ----------*/
@media (min-width: 544px) {
.col-padding-sm-30{padding-left:30px;padding-right:30px;}
/*---------- MD ----------*/
@media (min-width: 768px) {
.col-padding-md-15{padding-left:15px;padding-right:15px;}
.col-padding-md-30{padding-left:100px;padding-right:100px;}
}
/*---------- LG ----------*/
@media (min-width: 992px) {
}
