.paper{
  margin: 40px auto;
  padding:10px 20px;
  background: none repeat scroll 0 0 #F3F3F3;
  border-radius: 2px 2px 2px 2px;
}
.paper-title {font-weight:bold;}
.paper-text {}
/*---------- PAPER 1 ----------*/
.paper1{box-shadow: 0 10px 6px -6px #777777;}
/*---------- PAPER 2 ----------*/
.paper2{position: relative;}
.paper2:before, .paper2:after {
    background: none repeat scroll 0 0 #777777;
    bottom: 18px;
    box-shadow: 0 15px 10px #777777;
    content: "";
    left: 10px;
    max-width: 300px;
    position: absolute;
    top: 80%;
    transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    width: 50%;
    z-index: -1;
}
.paper2:after {
    left: auto;
    right: 10px;
    transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
}
/*---------- PAPER 3 ----------*/
.paper3{position: relative;}
.paper3:before {
    background: none repeat scroll 0 0 #777777;
    bottom: 18px;
    box-shadow: 0 15px 10px #777777;
    content: "";
    left: 10px;
    max-width: 300px;
    position: absolute;
    top: 80%;
    transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    width: 50%;
    z-index: -1;
}
/*---------- PAPER 4 ----------*/
.paper4 {position: relative;}
.paper4:after {
    background: none repeat scroll 0 0 #777777;
    bottom: 18px;
    box-shadow: 0 15px 10px #777777;
    content: "";
    left: auto;
    max-width: 300px;
    position: absolute;
    right: 10px;
    top: 80%;
    transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    width: 50%;
    z-index: -1;
}
/*---------- PAPER 5 ----------*/
.paper5{position: relative;}
.paper5:before, .paper5:after {
    background: none repeat scroll 0 0 #777777;
    bottom: 25px;
    box-shadow: 0 35px 20px #777777;
    content: "";
    left: 10px;
    max-width: 300px;
    position: absolute;
    top: 80%;
    transform: rotate(-8deg);
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    -o-transform: rotate(-8deg);
    width: 50%;
    z-index: -1;
}
.paper5:after {
    left: auto;
    right: 10px;
    transform: rotate(8deg);
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    -o-transform: rotate(8deg);
}
/*---------- PAPER 6 ----------*/
.paper6{position: relative;box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;}
.paper6:before, .paper6:after {
    border-radius: 100px 100px 100px 100px / 10px 10px 10px 10px;
    bottom: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    content: "";
    left: 10px;
    position: absolute;
    right: 10px;
    top: 50%;
    z-index: -1;
}
.paper6:after {
    left: auto;
    right: 10px;
    transform: skew(8deg) rotate(3deg);
    -webkit-transform: skew(8deg)  rotate(3deg);
    -moz-transform: skew(8deg)  rotate(3deg);
    -ms-transform: skew(8deg)  rotate(3deg);
    -o-transform: skew(8deg)  rotate(3deg);
}
/*---------- PAPER 7 ----------*/
.paper7{position: relative;box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;}
.paper7:before, .paper7:after {
    border-radius: 100px 100px 100px 100px / 10px 10px 10px 10px;
    bottom: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    content: "";
    left: 10px;
    position: absolute;
    right: 10px;
    top: 0;
    z-index: -1;
}
.paper7:after {
    left: auto;
    right: 10px;
    transform: skew(8deg) rotate(3deg);
    -webkit-transform: skew(8deg)  rotate(3deg);
    -moz-transform: skew(8deg)  rotate(3deg);
    -ms-transform: skew(8deg)  rotate(3deg);
    -o-transform: skew(8deg)  rotate(3deg);
}
/*---------- PAPER 8 ----------*/
.paper8{position: relative;box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;}
.paper8:before, .paper8:after {
    border-radius: 100px 100px 100px 100px / 10px 10px 10px 10px;
    bottom: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 10px;
    z-index: -1;
}
.paper8:after {
    left: auto;
    right: 10px;
    transform: skew(8deg) rotate(3deg);
    -webkit-transform: skew(8deg)  rotate(3deg);
    -moz-transform: skew(8deg)  rotate(3deg);
    -ms-transform: skew(8deg)  rotate(3deg);
    -o-transform: skew(8deg)  rotate(3deg);
}